@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/Silkscreen/Silkscreen-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to left bottom, blueviolet, pink);
}

section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right, pink, magenta);
    padding: 2rem;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px purple;
}

h2 {
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

label {
    text-align: center;
    font-weight: 700;
}

#adhs, #age {
    border: none;
    padding: 0.5rem 0;
}

.gehirn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.gehirn div {
    display: flex;
    gap: 0.3rem;
}

.submit {
    padding: 0.5rem 1rem;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    color: pink;
    border-radius: 5px;
    font-size: 1.1rem;
}

.submit:hover {
    background-color: pink;
    border: 1px solid gray;
    color: blueviolet;
}

.bla {
    display: flex;
    align-items: center;
    gap: 1rem;
}

label, option {
    font-size: 1.1rem;
}

#output {
    font-size: 2rem;
    font-family: 'Silkscreen';
}