* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blueviolet;
}

section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right, pink, magenta);
    padding: 2rem;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px purple;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gehirn {
    display: flex;
    gap: 1rem;
}

.gehirn div {
    display: flex;
    gap: 0.3rem;
}

.submit {
    padding: 0 1rem;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    color: pink;
}

.submit:hover {
    background-color: pink;
    border: 1px solid gray;
    color: blueviolet;
}

.bla {
    display: flex;
    gap: 1rem;

}